.title{
    border-right: none !important;
}

.gallery_title{
    padding: 30px 0 !important;
    background-color: #1c1c1c;
}
.gallery_title .buttons{
    margin-top: 23rem !important;
}
.images_view{
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
}
.images_view h1{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF;
text-align: center;
font-size: 1rem;
font-family: Bellefair;
font-style: normal;
font-weight: 400;
line-height: 1.59375rem;
text-transform: uppercase;
}
.images_view img{
    width: 100%;
    padding: 5px;
}
.blurbs{
    gap: 2rem !important;
    display: flex !important;
    align-items: center !important;
    justify-content: space-around !important;
    flex-flow: nowrap !important;
}
.blurb .blurb_content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: #d3aa7a;
    gap: 1rem;
}
.blurb .icon img{
    width: 1.75rem;
height: 2.5rem;
}
.blurb_content .container{
    padding: 1rem;
    width: fit-content;
    color: #FFF;
text-align: center;
font-size: 1.25rem;
font-family: Cambo;
font-style: normal;
font-weight: 400;
line-height: 1.59375rem;
    border-radius: 0.9375rem;
border: 4px solid #CDA072;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 12rem !important;
}